@model MovieStore.Models.MovieViewModel

@{
    ViewBag.Title = "Movie";
}

<h2>Movie</h2>

<div>
    <h4>MovieViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MovieId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MovieTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Director)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Director)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RentalDuration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RentalDuration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MovieRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieRating)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
